*.class
.DS_Store
application.pid

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
target
.settings

# Idea
.idea
*.iml

# git
*.orig

/apollo-adminservice/src/main/docker/apollo-adminservice-1.4.0-github.zip
/apollo-configservice/src/main/docker/apollo-configservice-1.4.0-github.zip
/apollo-portal/src/main/docker/apollo-portal-1.4.0-github.zip
